input[type=text], input[type=date], select {
    width: 120%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #4682B4;
}

.form {
    margin-top: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    padding: 20px 0px;
}
.form-row {
    display: flex;
}
.form-label {
    min-width: 40%;
    margin-top: 3%;
    text-align: right;
    margin-right: 5%;
}

.submit-button {
    text-align: center;
}
